html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}

body {
    display: flex;
    flex-direction: column;
}



header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

nav {
    background-color: #004080;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 15px;
    flex-direction: column;
}

.cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.car {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
}

.car img {
    width: 100%;
    border-radius: 8px;
    height: 180px;
    object-fit: cover;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px 0;
}
